@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.otf"), format("OpenType");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"), format("truetype");
}
html, body {
  margin: 0;
}

#header_menu {
  padding-bottom: 0px;
  box-shadow: lightgrey 0px 2px 5px;
}

#logo_menu {
  width: 41%;
  display: flex;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

#localisation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-top: 3px;
  padding-bottom: 5px;
  background-color: #eeeeee;
  font-size: 15px;
}
#localisation i {
  padding-right: 10px;
}

#explore {
  background-color: #f7f7f7;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-bottom: 5px;
}
#explore #accueil-h1 {
  text-align: center;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
#explore #accueil-p {
  font-size: 17px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: -15px;
}

#fonction {
  margin-bottom: 50px;
  width: auto;
}
#fonction .bloc_numbers {
  display: flex;
  align-items: baseline;
}
#fonction .bloc_numbers .numbers {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 0px 4px 0px 4px;
  border: #9356DC 5px solid;
  color: #ffffff;
  position: relative;
  left: 60px;
}
#fonction button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 23px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 25px;
  border: none;
  box-shadow: lightgrey 0px 5px 10px 2px;
  font-size: 16px;
  background-color: #f7f7f7;
}
#fonction button:hover {
  background-color: #f2eafb;
  box-shadow: #b1b1b1 0px 5px 10px 2px;
  transition: transform 400ms, background-color 350ms 150ms, box-shadow 350ms;
}
#fonction button:hover:active {
  background-color: #9356DC;
}
#fonction .fonction-icons {
  font-size: 18px;
  color: #888888;
  position: relative;
  left: 80px;
}

h3 {
  font-size: 23px;
  padding-left: 15px;
  padding-top: 50px;
}

#resto_h3 {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  margin-bottom: 0;
}

#restaurants {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}
#restaurants .bloc_restaurants {
  min-width: 300px;
  height: 245px;
  margin: 15px 15px 5px 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: lightgrey 2px 1px 10px 1px;
}
#restaurants .bloc_restaurants .img_restaurants {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#restaurants .bloc_restaurants a {
  color: #000000;
  text-decoration: none;
  font-family: "Roboto";
}
#restaurants .bloc_restaurants h4 {
  margin-top: 10px;
  font-size: 17px;
}
#restaurants .bloc_restaurants p {
  margin-top: -19px;
}
#restaurants .bloc_restaurants h4, #restaurants .bloc_restaurants p {
  padding-left: 15px;
}
#restaurants .bloc_restaurants i {
  position: relative;
  left: 200px;
  bottom: 47px;
  font-size: 25px;
  font-weight: lighter;
}
#restaurants .btn-heart {
  display: none;
}

/*# sourceMappingURL=homepage.css.map */
