@font-face {
    font-family: 'Shrikhand';
    src: url("../fonts/Shrikhand-Regular.otf"), format("OpenType");
    
}
@font-face
{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") , format("truetype");
}